/* --------------- GLOBAL APP DECLARATIONS --------------- */

:root {
  --ocean-blue-1: #004772;
  --ocean-blue-2: #00578b;
  --ocean-blue-3: #0067a5;
  --ocean-blue-4: #0077be;
  --ocean-blue-5: #0087d8;
  --ocean-blue-6: #0097f1;
  --ocean-blue-7: #0ca4ff;
  --stainless-steel: #CACCCE;
}


body {
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.Game {
  text-align: center;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  cursor: crosshair;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: lightgray;
  overflow: hidden;
}

/* ------------------- DOOR ANIMATION ------------------- */

.intro {
  height: 800px;
  width: 500px;
  background-color: transparent;
  border: 2000px solid grey;
  border-radius: 4000px;
  box-shadow: 0px 0px 3px 3px black, 0px 0px 3px 3px black inset;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%) translateY(50%);
  z-index: 11;
  display: flex;
  flex-wrap: wrap;
  transform-origin: center;
  transition: transform 2000ms;
}

.door-1 {
  height: 650px;
  width: 350px;
  background-color: transparent;
  border: 75px solid rgb(66, 66, 66);
  border-radius: 1000px;
  box-shadow: 0px 0px 3px 3px black, 0px 0px 5px 5px black inset;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%) translateY(50%);
  z-index: 11;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.handle-1 {
  height: 150px;
  width: 150px;
  background-color: transparent;
  border: 15px solid black;
  position: absolute;
  box-sizing: border-box;
  left: 50%;
  bottom: 50%;
  transform: translateX(40%) translateY(50%) rotate(45deg);
  z-index: 12;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 2px white, 0px 0px 2px 2px white inset;
  overflow: hidden;
}

.axis-1 {
  width: 150px;
  height: 15px;
  background-color: black;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%) translateY(50%);
  position: absolute;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  }

.axis-2 {
  width: 15px;
  height: 150px;
  background-color: black;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%) translateY(50%);
  position: absolute;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.handle-center {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  left: 50%;
  bottom: 50%;
  box-shadow: 0px 0px 2px 2px white;
  transform: translateX(-50%) translateY(50%);
  position: absolute;
}

.door-2 {
  height: 200px;
  width: 200px;
  background-color: transparent;
  border: 500px solid #848482;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 3px black, 0px 0px 3px 3px black inset;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform-origin: center;
  transform: translateX(-50%) translateY(38%);
  z-index: 11;
  display: flex;
  flex-wrap: wrap;
}

.door-window {
  height: 200px;
  width: 200px;
  background-color: transparent;
  border: 25px solid rgb(66, 66, 66);
  border-radius: 1000px;
  box-shadow: 0px 0px 3px 3px black, 0px 0px 3px 3px black inset;
  box-sizing: border-box;
  position: absolute;
  /* left: 50%;
  bottom: 50%;
  transform: translateX(-50%) translateY(-25%); */
  z-index: 12;
  display: flex;
  flex-wrap: wrap;
}

.screw {
  height: 1vw;
  width: 1vw;
  background-color: silver;
  border: 2px solid gray;
  box-shadow: 0 0 3px 1px silver;
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
}

.screw-1 {
  left: .96vw;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.screw-2 {
  left: 23.04vw;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.screw-3 {
  left: 50%;
  top: .96vw;
  transform: translateX(-50%) translateY(-50%);
}

.screw-4 {
  left: 50%;
  top: 23.04vw;
  transform: translateX(-50%) translateY(-50%);
}

.screw-5 {
  left: 4.16vw;
  top: 4.16vw;
  transform: translateX(-50%) translateY(-50%);
}

.screw-6 {
  left: 19.84vw;
  top: 4.16vw;
  transform: translateX(-50%) translateY(-50%);
}

.screw-7 {
  left: 4.16vw;
  top: 19.84vw;
  transform: translateX(-50%) translateY(-50%);
}

.screw-8 {
  left: 19.84vw;
  top: 19.84vw;
  transform: translateX(-50%) translateY(-50%);
}

.screw-upper-1 {
  top: 1vw;
  left: 1vw;
}

.screw-upper-2 {
  top: 1vw;
  right: 1vw;
}

.screw-lower-1 {
  bottom: 1vw;
  left: 1vw;
}

.screw-lower-2 {
  bottom: 1vw;
  right: 1vw;
}

.unclickable {
  pointer-events: none;
}

.lose {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 20;
  background-color: rgba(0, 0, 255, 1);
  animation-name: floatUp;
  animation-duration: 3000ms;
  animation-iteration-count: initial;
  animation-timing-function: linear;
  z-index: 51;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lose img {
  filter: invert(100%) sepia(97%) saturate(13%) hue-rotate(237deg) brightness(104%) contrast(104%);
}

@keyframes floatUp {
  0% { top:100%;   background-color: rgba(0, 0, 255, 0);
  }
  100% { top: 0;   background-color: rgba(0, 0, 255, 1);
  }
}

.rolling-wave {
  position: absolute;
  width: 41vw;
  height: 40vw;
  top: -2vw;
  background-color: rgba(0, 0, 255, 1);
  border-radius: 50%;
  animation-name: spinWave;
  animation-duration: 1500ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: -1;
}

@keyframes spinWave {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}

.wave-1 {
  left: -5vw;
}

.wave-2 {
  left: 7vw;
}

.wave-3 {
  left: 19vw;
}

.wave-4 {
  left: 31vw;
}

.wave-5 {
  left: 43vw;
}

.wave-6 {
  left: 55vw;
}

.wave-7 {
  left: 67vw;
}

.wave-8 {
  left: 79vw;
}

.wave-9 {
  left: 91vw;
}

.wave-10 {
  left: 103vw;
}

.end-game-popup {
  position: absolute;
  margin: auto;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 300px;
  height: 200px;
  background-color: white;
  z-index: 10;
  font-size: 30px;
  border: 5px solid red;
  border-radius: 30%;
}

.control-panel {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 1fr 4fr;
  width: 15vw;
}

.buttons {
  grid-row: 2 / 3;
  height: 60vh;
  width: 12vw;
  box-sizing: border-box;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--stainless-steel);
  box-shadow: 0px 0px 1vw 3px black;
  margin: auto;
  padding-top: 2vh;
  padding-bottom: 4vh;
  position: relative;
}

.control-label {
  height: 9vh;
  width: 95%;
  box-sizing: border-box;
  border: 2vh solid var(--stainless-steel);
  box-shadow: 0 0 .3vw .01vw white inset;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Special Elite', cursive;
  text-shadow: 0 0 1px white;
  font-weight: bold;
  background-color: #173372;
  padding-top: .4vw;
  color: white
}

.start-button {
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid black;
  background-color: green;
  box-shadow: 0px 0px 2px 2px black;
  display: flex;
  outline: none;
}

.start-button-inner {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255, .5);
  box-shadow: 0px 0px 2px 2px black inset;
  margin: auto;
}

.start-button:active .start-button-inner {
  box-shadow: 0px 0px 5px 5px black inset;
}

.surrender-button {
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid black;
  background-color: red;
  box-shadow: 0px 0px 2px 2px black;
  display: flex;
  outline: none;
}

.surrender-button-inner {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255, .5);
  background-color: red;
  box-shadow: 0px 0px 2px 2px black inset;
  margin: auto;
}

.surrender-button:active .surrender-button-inner {
  box-shadow: 0px 0px 5px 5px black inset;
}

.light {
  height: 17vh;
  width: 17vh;
  background-color: rgb(255, 0, 0, .6);
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  border: 5px solid black;
  box-shadow: 0px 0px 3px 2px black;
  position: relative;
  grid-row: 1 / 2;
  z-index: 3;
}

.light-circle {
  width: 8.5vh;
  height: 8.5vh;
  background-color: transparent;
  border: .6vh solid black;
  border-radius: 50%;
  z-index: 6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.line-1 {
  width: 17vh;
  height: .65vh;
  background-color: black;
  border-radius: 50%;
  z-index: 6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.line-2 {
  width: .65vh;
  height: 17vh;
  border-radius: 50%;
  background-color: black;
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.line-3 {
  width: 1.4vh;
  height: 1.4vh;
  border-radius: 50%;
  background-color: black;
  z-index: 6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.inner {
  background-color: rgb(255, 0, 0, .9);
  /* border: 1px solid rgb(255, 255, 255, .5); */
  border: 2px solid black;
  /* width: 100px;
  height: 100px; */
  width: 13vh;
  height: 13vh;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 3;
}

.spinners {
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* height: 100px;
  width: 100px; */
  height: 13vh;
  width: 13vh;
  position: absolute;
  /* animation-name: spinLight;
  animation-delay: 5000ms;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
}

.animate-spinner {
  animation-name: spinLight;
  /* animation-delay: 5000ms; */
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.spinner-1 {
  /* height: 35px; */
  height: 4.57vh;
  /* width: 70px; */
  width: 9.15vh;
  background-color: rgb(0, 0, 0, .6);
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  /* box-shadow: 0px 60px 90px 60px rgba(255, 0, 0, 0.8); */
  position: absolute;
  bottom: 35%;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  z-index: 1;
}

.on-1 {
  box-shadow: 0px 60px 90px 60px rgba(255, 0, 0, 0.8);
}

.spinner-2 {
  /* height: 35px; */
  height: 4.57vh;
  background-color: rgb(0, 0, 0, .6);
  /* width: 70px; */
  width: 9.15vh;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 50% 100%;
  border-bottom-left-radius: 50% 100%;
  /* box-shadow: 0px -60px 90px 60px rgba(255, 0, 0, 0.8); */
  position: absolute;
  bottom: 65%;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  z-index: 1;
}

.on-2 {
  box-shadow: 0px -60px 90px 60px rgba(255, 0, 0, 0.8);
}

.bottom {
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.pointing-hand {
  position: absolute;
  z-index: 50;
  right: 25vw;
  top: 40vh;
  transform: rotate(25deg);
  animation-name: moveHand;
  animation-duration: 2500ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 6000ms;
  color: transparent;
}

@keyframes moveHand {
  0% {
    color: black;
    transform: rotate(25deg);
    right: 25vw;
  }
  50% {
    color: black;
    transform: rotate(0deg);
    right: 50vw;
    top: 25vh;
  }
  100% {
    color: black;
    transform: rotate(-25deg);
    right: 75vw;
    top: 40vh;
  }
}

.ship-placer {
  height: calc(20vw + 5px);
  width: calc(20vw + 5px);
  background-color: #0077be;
  box-shadow: 0 0 20px 15px yellow inset;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translateX(18.7vw) translateY(12.8vw);
  z-index: 10;
  display: grid;
  grid-template-rows: 1fr 8vw 1fr;
  flex-wrap: wrap;
  animation-name: flashBorder;
  animation-duration: 1500ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.ship-placer i {
  color: white;
}

.ship-text {
  grid-row: 1 / 2;
  margin: 2vw auto 2vw auto;
}

.ship-text h3 {
  margin: 0;
  font-size: 1vw;
}

.ship-text h2 {
  margin: 1vw 0 0 0;
  font-size: 1.5vw;
  font-style: italic;
  text-shadow: 0 0 10px white;
}

.ship-placer .ship {
  grid-row: 2 / 3;
}

.end-placement {
  grid-row: 2 / 3;
  margin: auto;
  font-style: italic;
  font-size: 1.8vw;
}

@keyframes flashBorder {
  0% {
    box-shadow: 0 0 15px 15px yellow inset;
  }
  50% { 
    box-shadow: 0 0 0 0 blue; 
  }
  100% {
    box-shadow: 0 0 15px 15px yellow inset;
  }
}

.switch-container {
  margin: auto;
  width: 6vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rotate-button {
  all: unset;
  outline: none;
  height: 1vw;
  width: 3vw;
  background-color: white;
  border-radius: 50px;
  box-sizing: border-box;
  grid-row: 3 /4;
  transition: all 300ms linear;
  display: flex;
  justify-content: flex-start;
}

.switch {
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  background-color: black;
}

.switched {
  justify-content: flex-end;
}

.side-label {
  height: 2vw;
  width: 15vw;
  margin: auto auto 3vw auto;
  box-shadow: 0 0 .3vw .01vw white inset;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Special Elite', cursive;
  text-shadow: 0 0 1px white;
  font-weight: bold;
  background-color: #173372;
  padding-top: .4vw;
  color: white;
  font-size: 1vw;
}

/* --------------- PLAYER SIDE --------------- */

.player-side {
  margin: auto;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.border-space {
  width: 24vw;
  height: 24vw;
  border-radius: 50%;
  display: flex;
  background-color: var(--stainless-steel);
  box-shadow: 0px 0px 1vw 3px black;
  position: relative;
}

.player-board {
  width: 20vw;
  height: 20vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  box-shadow: 0px 0px 1vw 5px black inset;
  align-content: center;
  border-radius: 50%;
  background-color: #0077be;
  align-content: center;
  position: relative;
  overflow: hidden;
}

/* --------------- ENEMY SIDE --------------- */

.enemy-side {
  grid-column: 3 / 4;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center
}

.enemy-board {
  width: 20vw;
  height: 20vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  border-radius: 50%;
  background-color: black;
  border: 1px solid black;
  box-shadow: 0px 0px 1vw 5px rgb(0, 255, 0) inset;
  position: relative;
  overflow: hidden;
}

.arm {
  height: 49vh;
  border: 2px solid rgb(0, 255, 0);
  box-shadow: -200px -330px 150px 300px rgb(0, 255, 0, .8);
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(0deg);
  animation-name: rotateArm;
  animation-delay: 1000ms;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.arm:after {
  content: '';
  margin-left: 2px;
  height: 49vh;
  width: 0px;
  position: absolute;
  background-color: rgb(0, 0, 0, .6);
  box-shadow: -300px 0px 40px 300px black;
  transform-origin: bottom;
  transform: rotate(-100deg);
}

.arm:before {
  content: '';
  margin-left: 2px;
  height: 49vh;
  width: 1.3vh;
  position: absolute;
  background-color: black;
  box-shadow: 300px 0px 0px 300px black;
}

@keyframes rotateArm {
  0% {transform: translateX(-50%) rotate(0deg);}
  25% {transform: translateX(-50%) rotate(90deg);}
  50% {transform: translateX(-50%) rotate(180deg);}
  75% {transform: translateX(-50%) rotate(270deg);}
  100% {transform: translateX(-50%) rotate(360deg);}
}

@keyframes spinLight {
  0% {transform: translateX(-50%) translateY(-50%) rotate(0deg);}
  25% {transform: translateX(-50%) translateY(-50%) rotate(90deg);}
  50% {transform: translateX(-50%) translateY(-50%) rotate(180deg);}
  75% {transform: translateX(-50%) translateY(-50%) rotate(270deg);}
  100% {transform: translateX(-50%) translateY(-50%) rotate(360deg);}
}

.player-circle {
  border-radius: 50%;
  top: 50%;
  left: 50%;
  position: absolute;
  border: 2px solid yellow;
  pointer-events: none;
  opacity: 100%;
  box-sizing: border-box;
  transform: translateX(-50%) translateY(-50%);
}

.pulse {
  border-radius: 50%;
  top: 50%;
  left: 50%;
  position: absolute;
  border: 1px solid yellow;
  pointer-events: none;
  opacity: 80%;
  box-sizing: border-box;
  transform: translateX(-50%) translateY(-50%);
  height: 1px;
  width: 1px;
  animation-name: expand;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  box-shadow: 0px 0px 100px 80px rgb(255, 255, 0, .6) inset;
  z-index: 10;
  pointer-events: none;
}

@keyframes expand {
  0% {height: 1px; width: 1px}
  100% {height: 550px; width: 550px}
}

.circle {
  border-radius: 50%;
  top: 50%;
  left: 50%;
  position: absolute;
  border: 2px solid rgb(0, 255, 0);
  pointer-events: none;
  opacity: 100%;
  box-sizing: border-box;
  transform: translateX(-50%) translateY(-50%);
}

.circle-1 {
  width: 16vw;
  height: 16vw;
}

.circle-2 {
  width: 12vw;
  height: 12vw;
}

.circle-3 {
  width: 8vw;
  height: 8vw;
}

.circle-4 {
  width: 4vw;
  height: 4vw;
}

.Row {
  margin: auto;
  display: flex;
}

.Square {
  box-sizing: border-box;
  width: 1.4vw;
  height: 1.4vw;
  border: 1px solid rgb(0, 255, 0);
  align-content: center;
  opacity: 99%;
  display: flex;
}

.player-square {
  box-sizing: border-box;
  width: 1.4vw;
  height: 1.4vw;
  box-sizing: border-box;
  border: 1px solid yellow;
  align-content: center;
  display: flex;
}

.Square:hover {
  background-color: rgb(0, 255, 0);;
}

.placed-ship {
  background-color: rgb(223, 223, 0);
}

.blank {
  align-content: center;
}

.miss {
  background-color: white;
}

.hit {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: red;
  margin: auto;
  z-index: 3;
}

.filled {
  background-color: green;
}

.missed {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  margin: auto;
  z-index: 3;
}


/* ------------------------- SHIPS -------------------------*/

.ship {
  box-sizing: border-box;
  margin: auto;
  background-color: grey;
  box-shadow: 0 0 10px 3px white;
  transition: all 300ms linear;
}

.ship-5-horizontal {
  width: 7vw;
  height: 1.4vw;
  border-top-right-radius: 30% 50%;
  border-bottom-right-radius: 30% 50%;
  border-bottom-left-radius: 10%;
  border-top-left-radius: 10%;
}

.ship-4-horizontal {
  width: 5.6vw;
  height: 1.4vw;
  border-top-right-radius: 30% 50%;
  border-bottom-right-radius: 30% 50%;
  border-bottom-left-radius: 10%;
  border-top-left-radius: 10%;
  display: flex;
  justify-content: space-evenly;
}

.ship-3-horizontal {
  width: 4.2vw;
  height: 1.4vw;
  border-top-right-radius: 30% 50%;
  border-bottom-right-radius: 30% 50%;
  border-bottom-left-radius: 10%;
  border-top-left-radius: 10%;
  display: flex;
  justify-content: space-evenly;
}

.ship-2-horizontal {
  width: 2.8vw;
  height: 1.4vw;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 10%;
  border-top-left-radius: 10%;
  display: flex;
  justify-content: space-evenly;
}

.ship-5-vertical {
  width: 1.4vw;
  height: 7vw;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
  border-top-left-radius: 100%;
}

.ship-4-vertical {
  width: 1.4vw;
  height: 5.6vw;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
  border-top-left-radius: 100%;
}

.ship-3-vertical {
  width: 1.4vw;
  height: 4.2vw;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
  border-top-left-radius: 100%;
}

.ship-2-vertical {
  width: 1.4vw;
  height: 2.8vw;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
  border-top-left-radius: 100%;
}

/* -------------------- IntroAnimation ----------------------- */

.intro-animation-container {
  width: 100%;
  height: 100%;
  background-color: var(--ocean-blue-3);
  display: grid;
  grid-template-rows: 50vh 1fr;
}

.logo-container {
  position: absolute;
  z-index: 10;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(30%);
}

.logo {
  margin: auto;
  width: 1000px;
  height: 1000px;
}

.sky {
  width: 100%;
  height: 50%;
  background-color: rgb(255, 166, 125);
  grid-row-start: 1;
  grid-row-end: 2;
  position: relative;
  z-index: 2;
}

.sun {
  width: 150px;
  height: 150px;
  background-color: rgb(255, 184, 53);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%) translateY(50%);
  box-shadow: 0px 0px 15px 5px rgb(255, 74, 74), 0px 0px 50px 20px rgb(255, 120, 120);
}

.wave-parent {
  grid-row-start: 2;
  grid-row-end: 3;
  height: 100vh;
}

.wave-container {
  width: 105vw;
  position: absolute;
  display: flex;
  bottom: 50%;
}

.wave {
  flex-basis: 5%;
  height: 50px;
  border-radius: 50%;
  transform: rotate(45deg);
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin-left: -30px;
  border-right: 5px solid rgb(255, 105, 105);
}

.row-1 {
  transform: translateY(750%);
}

.row-1 .wave {
  background-color: var(--ocean-blue-1);
  animation-name: spinWaves;
}

.row-2 {
  transform: translateY(700%);
}

.row-2 .wave {
  background-color: var(--ocean-blue-2);
  animation-name: spinReverse;
}

.row-3 {
  transform: translateY(650%);
}

.row-3 .wave {
  background-color: var(--ocean-blue-3);
  animation-name: spinWaves;
}

.row-4 {
  transform: translateY(600%);
}

.row-4 .wave {
  background-color: var(--ocean-blue-1);
  animation-name: spinReverse;
}

.row-5 {
  transform: translateY(550%);
}

.row-5 .wave {
  background-color: var(--ocean-blue-2);
  animation-name: spinWaves;
}

.row-6 {
  transform: translateY(500%);
}

.row-6 .wave {
  background-color: var(--ocean-blue-3);
  animation-name: spinReverse;
}

.row-7 {
  transform: translateY(450%);
}

.row-7 .wave {
  background-color: var(--ocean-blue-1);
  animation-name: spinWaves;
}

.row-8 {
  transform: translateY(400%);
}

.row-8 .wave {
  background-color: var(--ocean-blue-2);
  animation-name: spinReverse;
}

.row-9 {
  transform: translateY(350%);
}

.row-9 .wave {
  background-color: var(--ocean-blue-3);
  animation-name: spinWaves;
}

.row-10 {
  transform: translateY(300%);
}

.row-10 .wave {
  background-color: var(--ocean-blue-1);
  animation-name: spinReverse;
}

.row-11 {
  transform: translateY(250%);
}

.row-11 .wave {
  background-color: var(--ocean-blue-2);
  animation-name: spinWaves;
}

.row-12 {
  transform: translateY(200%);
}

.row-12 .wave {
  background-color: var(--ocean-blue-3);
  animation-name: spinReverse;
}

.row-13 {
  transform: translateY(150%);
}

.row-13 .wave {
  background-color: var(--ocean-blue-1);
  animation-name: spinWaves;
}

.row-14 {
  transform: translateY(100%);
}

.row-14 .wave {
  background-color: var(--ocean-blue-2);
  animation-name: spinReverse;
}

.row-15 {
  transform: translateY(50%);
}

.row-15 .wave {
  background-color: var(--ocean-blue-3);
  animation-name: spinWaves;
}

.row-16 {
  transform: translateY(0%);
}

.row-16 .wave {
  background-color: var(--ocean-blue-1);
  animation-name: spinReverse;
}

.row-17 {
  transform: translateY(-50%);
}

.row-17 .wave {
  background-color: var(--ocean-blue-2);
  animation-name: spinWaves;
}

.row-18 {
  transform: translateY(-100%);
}

.row-18 .wave {
  background-color: var(--ocean-blue-3);
  animation-name: spinReverse;
}

.row-19 {
  transform: translateY(-150%);
}

.row-19 .wave {
  background-color: var(--ocean-blue-1);
  animation-name: spinWaves;
}

.row-20 {
  transform: translateY(-200%);
}

.row-20 .wave {
  background-color: var(--ocean-blue-2);
  animation-name: spinReverse;
}

.row-21 {
  transform: translateY(-250%);
}

.row-21 .wave {
  background-color: var(--ocean-blue-3);
  animation-name: spinWaves;
}

.row-22 {
  transform: translateY(-300%);
}

.row-22 .wave {
  background-color: var(--ocean-blue-1);
  animation-name: spinReverse;
}

.row-23 {
  transform: translateY(-350%);
}

.row-23 .wave {
  background-color: var(--ocean-blue-2);
  animation-name: spinWaves;
}

.row-24 {
  transform: translateY(-400%);
}

.row-24 .wave {
  background-color: var(--ocean-blue-3);
  animation-name: spinReverse;
}

.row-25 {
  transform: translateY(-450%);
}

.row-25 .wave {
  background-color: var(--ocean-blue-1);
  animation-name: spinWaves;
}


@keyframes spinWaves {
  0% { transform: rotate(45deg); }
  50% { transform: rotate(-45deg); }
  100% { transform: rotate(45deg); }
}

@keyframes spinReverse {
  0% { transform: rotate(-45deg); }
  50% { transform: rotate(45deg); }
  100% { transform: rotate(-45deg); }
}