/* --------------- GLOBAL APP DECLARATIONS --------------- */

:root {
  --ocean-blue-1: #004772;
  --ocean-blue-2: #00578b;
  --ocean-blue-3: #0067a5;
  --ocean-blue-4: #0077be;
  --ocean-blue-5: #0087d8;
  --ocean-blue-6: #0097f1;
  --ocean-blue-7: #0ca4ff;
  --stainless-steel: #CACCCE;
  --radar-green: rgb(0, 255, 0);
}


body {
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  padding: .5vmin;
  background-color: rgb(0, 0, 0);
}

.Game {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  cursor: crosshair;
  margin: auto;
  overflow: hidden;
  transition: all 300ms linear;
  box-sizing: border-box;
  border: .3vmin solid var(--radar-green);
}

/* END GAME SCREENS */

.unclickable {
  pointer-events: none;
}

.win {
  width: 100vw;
  height: 100vh;
  position: absolute;
  right: 0;
  background-color: rgba(0, 0, 0, .6);
  z-index: 51;
  display: flex;
  justify-content: center;
  align-items: center;
}

.win h1 {
  z-index: 2;
  font-size: 4vw;
  color: white;
  text-shadow: 0 0 10px black;
}

.win img {
  height: 30vw;
  position: absolute;
}

.lose {
  width: 100vw;
  height: 100vh;
  position: absolute;
  right: 0;
  z-index: 20;
  background-color: rgba(0, 0, 255, 1);
  animation-name: floatUp;
  animation-duration: 3000ms;
  animation-iteration-count: initial;
  animation-timing-function: linear;
  z-index: 51;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lose img {
  filter: invert(100%) sepia(97%) saturate(13%) hue-rotate(237deg) brightness(104%) contrast(104%);
}

@keyframes floatUp {
  0% { top:100%;   background-color: rgba(0, 0, 255, 0);
  }
  100% { top: 0;   background-color: rgba(0, 0, 255, 1);
  }
}

/* SHIP PLACEMENT */

.placement-container {
  margin: 0 auto auto auto;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  width: 100vw;
  z-index: 5;
}

.pointing-hand {
  position: absolute;
  z-index: 50;
  right: 25vw;
  top: 40vh;
  transform: rotate(25deg);
  animation-name: moveHand;
  animation-duration: 2500ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 6000ms;
  color: transparent;
}

@keyframes moveHand {
  0% {
    color: black;
    transform: rotate(25deg);
    right: 25vw;
  }
  50% {
    color: black;
    transform: rotate(0deg);
    right: 50vw;
    top: 25vh;
  }
  100% {
    color: black;
    transform: rotate(-25deg);
    right: 75vw;
    top: 40vh;
  }
}

.ship-placer {
  height: 100%;
  width: 100%;
  z-index: 10;
  display: grid;
  grid-template-rows: 1fr 8vw 1fr;
  flex-wrap: wrap;
}

.ship-placer i {
  color: var(--radar-green);
}

.ship-text {
  grid-row: 1 / 2;
  margin: 4vmin auto;
  color: var(--radar-green);
}

.ship-text h3 {
  margin: 0;
  font-size: 2vmin;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.ship-text h2 {
  margin: 1vmin 0 0 0;
  font-size: 4vmin;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.ship-placer .ship {
  grid-row: 2 / 3;
}

.switch-container {
  margin: auto auto 0 auto;
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rotate-button {
  all: unset;
  outline: none;
  height: 15px;
  width: 50px;
  background-color: black;
  border: .1vmin solid var(--radar-green);
  border-radius: 50px;
  box-sizing: border-box;
  grid-row: 3 /4;
  transition: all 300ms linear;
  display: flex;
  justify-content: flex-start;
}

.switch {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: var(--radar-green);
}

.switched {
  justify-content: flex-end;
}

/* --------------- PLAYER SIDE --------------- */

.player {
  position: absolute;
  top: 3vmin;
  left: 3vmin;
  transition: all 800ms ease-in-out;
}

.player-board {
  width: 20vmin;
  height: 20vmin;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-content: center;
  position: relative;
  overflow: hidden;
  transform: all 300ms ease-in-out;
}

.player-square {
  box-sizing: border-box;
  width: 2vmin;
  height: 2vmin;
  box-sizing: border-box;
  border: .1vmin solid rgba(0, 255, 0, .5);
  align-content: center;
  display: flex;
}

#setup {
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto 5vmin auto auto;
}

#setup .player-board {
  width: 50vmin;
  height: 50vmin;
}

#setup .player-square {
  width: 5vmin;
  height: 5vmin;
  border: .2vmin solid rgba(0, 255, 0, 1);
}

/* --------------- ENEMY RADAR --------------- */

.enemy {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 80vmin;
  width: 80vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.enemy-board {
  box-sizing: border-box;
  width: 95%;
  height: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  border-radius: 50%;
  background-color: black;
  border: .3vmin solid var(--radar-green);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.circle {
  border-radius: 50%;
  top: 50%;
  left: 50%;
  position: absolute;
  border: .25vmin solid var(--radar-green);
  pointer-events: none;
  box-sizing: border-box;
  transform: translateX(-50%) translateY(-50%);
}

.enemy .circle-1 {
  width: 80%;
  height: 80%;
}

.enemy .circle-2 {
  width: 60%;
  height: 60%;
}

.enemy .circle-3 {
  width: 40%;
  height: 40%;
}

.enemy .circle-4 {
  width: 20%;
  height: 20%;
}

.enemy .Square {
  box-sizing: border-box;
  width: 5.25vmin;
  height: 5.25vmin;
  border: .1vmin solid var(--radar-green);
  align-content: center;
  display: flex;
  z-index: 2;
}

.arm {
  height: 49vmin;
  border: 2px solid var(--radar-green);
  box-shadow: -200px -330px 150px 300px rgb(0, 255, 0, .5);
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(0deg);
  animation-name: rotateArm;
  animation-delay: 1000ms;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.arm:after {
  content: '';
  margin-left: 2px;
  height: 49vh;
  width: 0px;
  position: absolute;
  background-color: rgb(0, 0, 0);
  box-shadow: -300px 0px 40px 300px black;
  transform-origin: bottom;
  transform: rotate(-100deg);
}

.arm:before {
  content: '';
  margin-left: 2px;
  height: 49vh;
  width: 1.3vh;
  position: absolute;
  background-color: black;
  box-shadow: 300px 0px 0px 300px black;
}

@keyframes rotateArm {
  0% {transform: translateX(-50%) rotate(0deg);}
  25% {transform: translateX(-50%) rotate(90deg);}
  50% {transform: translateX(-50%) rotate(180deg);}
  75% {transform: translateX(-50%) rotate(270deg);}
  100% {transform: translateX(-50%) rotate(360deg);}
}

.Row {
  margin: auto;
  display: flex;
}

.Square:hover {
  background-color: rgba(0, 255, 0, .5);;
}

.placed-ship {
  background-color: var(--radar-green);
}

.blank {
  align-content: center;
}

/* differentiate for player hit and enemy hit for colors */

.hit {
  width: 100%;
  height: 100%;
  background-image: url(./explosion.png);
  background-position: center;
  background-size: 100%;
  margin: auto;
  z-index: 3;
}

.enemy-board .hit {
  filter: invert(63%) sepia(86%) saturate(3148%) hue-rotate(80deg) brightness(114%) contrast(130%);
}

.player-board .hit {
  filter: contrast(100%);
  background-color: transparent;
}

.missed {
  width: 100%;
  height: 100%;
  background-image: url(./water.png);
  background-position: center;
  background-size: 100%;
  margin: auto;
  z-index: 3;
}

.enemy-board .missed {
  filter: invert(63%) sepia(86%) saturate(3148%) hue-rotate(80deg) brightness(114%) contrast(130%);
}

.player-board .missed {
  filter: invert(63%) sepia(86%) saturate(3148%) hue-rotate(80deg) brightness(114%) contrast(130%);
}


/* ------------------------- SHIPS -------------------------*/

.ship {
  box-sizing: border-box;
  margin: auto;
  background-color: var(--radar-green);
  transition: all 300ms linear;
}

.ship-5-horizontal {
  width: 18vmin;
  height: 3.6vmin;
  border-top-right-radius: 30% 50%;
  border-bottom-right-radius: 30% 50%;
  border-bottom-left-radius: 10%;
  border-top-left-radius: 10%;
}

.ship-4-horizontal {
  width: 14.4vmin;
  height: 3.6vmin;
  border-top-right-radius: 30% 50%;
  border-bottom-right-radius: 30% 50%;
  border-bottom-left-radius: 10%;
  border-top-left-radius: 10%;
  display: flex;
  justify-content: space-evenly;
}

.ship-3-horizontal {
  width: 10.8vmin;
  height: 3.6vmin;
  border-top-right-radius: 30% 50%;
  border-bottom-right-radius: 30% 50%;
  border-bottom-left-radius: 10%;
  border-top-left-radius: 10%;
  display: flex;
  justify-content: space-evenly;
}

.ship-2-horizontal {
  width: 7.2vmin;
  height: 3.6vmin;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 10%;
  border-top-left-radius: 10%;
  display: flex;
  justify-content: space-evenly;
}

.ship-5-vertical {
  width: 3.6vmin;
  height: 18vmin;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
  border-top-left-radius: 100%;
}

.ship-4-vertical {
  width: 3.6vmin;
  height: 14.4vmin;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
  border-top-left-radius: 100%;
}

.ship-3-vertical {
  width: 3.6vmin;
  height: 10.8vmin;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
  border-top-left-radius: 100%;
}

.ship-2-vertical {
  width: 3.6vmin;
  height: 7.2vmin;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
  border-top-left-radius: 100%;
}

/* -------------------- DUMMY MODULE 1 ---------------------------*/

.DummyModule1 {
  opacity: 0;
  position: absolute;
  top: 3vmin;
  right: 3vmin;
  width: 25vmin;
  height: 12vmin;
  box-sizing: border-box;
  border-top: 1px solid var(--radar-green);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.DummyModule1 .bar {
  height: 1.5vmin;
  margin: .8vmin 0 0 auto;
  background-color: var(--radar-green);
}

.bar-1 {
  width: 95%;
}

.bar-2 {
  width: 70%;
}

.bar-3 {
  width: 85%;
}

.bar-4 {
  width: 95%;
}

.bar-5 {
  width: 65%;
}

.DummyModule1 .cross-section {
  position: absolute;
  width: 5vmin;
  height: 2vmin;
  top: -1vmin;
  border-right: 1px solid var(--radar-green);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cross-1 {
  border-left: 1px solid var(--radar-green);
  left: 0;
}

.cross-2 {
  left: 20%;
}

.cross-3 {
  left: 40%;
}

.cross-4 {
  left: 60%;
}

.cross-5 {
  left: 80%;
}

.cross-6 {
  left: 100%;
}

.cross-med {
  height: 70%;
  width: .1vmin;
  background-color: var(--radar-green);
}

.cross-sm {
  height: 50%;
  width: .1vmin;
  background-color: var(--radar-green);
}

/* -------------------- IntroAnimation ----------------------- */


.outer {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 20;
}

.container {
  box-sizing: border-box;
  height: 350vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  scroll-behavior: none;
}

.sky {
  width: 100vw;
  height: 50vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(54,209,220);
  background: linear-gradient(0deg, rgba(54,209,220,1) 0%, rgba(91,134,229,1) 47%);
}

.sun {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefff0;
  box-shadow: 0 0 5vw 3vw #fffeb3;
}

.ocean {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50vh;
  left: 0;
  background-color: #2a2a72;
  background-image: linear-gradient(0deg, #2a2a72 0%, #009ffd 90%);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.reflection {
  position: absolute;
  top: -70%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 50vh;
  width: .5vw;
  border-radius: 10px;
  background-color: rgba(255,254,179,.9);
  box-shadow: 0vw 55vh 10vw 5vw #fffeb3;
  z-index: 2;
}

.wave-container {
  width: 100vw;
}

.wave-container img {
  width: 100vw;
  height: 100%;
  filter: invert(100%) sepia(100%) saturate(50%) hue-rotate(150deg) brightness(103%) contrast(100%) opacity(.3);
}

.one {
  height: 5vh;
  animation: waveUp linear 2000ms infinite;
}

.two {
  height: 6vh;
  animation: waveDown linear 2000ms infinite;
}

.three {
  height: 7vh;
  animation: waveUp linear 2000ms infinite;
}

.four {
  height: 7vh;
  animation: waveDown linear 2000ms infinite;
}

.five {
  height: 8vh;
  animation: waveUp linear 2000ms infinite;
}

.six {
  height: 9vh;
  animation: waveDown linear 2000ms infinite;
}

.seven {
  height: 10vh;
  animation: waveUp linear 2000ms infinite;
}

.eight {
  height: 11vh;
  animation: waveDown linear 2000ms infinite;
}

.nine {
  height: 12vh;
  animation: waveUp linear 2000ms infinite;
}

.ten {
  height: 13vh;
  animation: waveDown linear 2000ms infinite;
}

@keyframes waveUp {
  0% { transform: scale(1) }
  50% { transform: scale(1.2) }
  100% { transform: scale(1) }
}

@keyframes waveDown {
  0% { transform: scale(1.2) }
  50% { transform: scale(1) }
  100% { transform: scale(1.2) }
}

.darkness {
  height: 200vh;
  width: 100vw;
  background-color: #292b75;
  display: flex;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}
.title {
  position: absolute;
  text-align: center;
  transform-origin: center;
  position: absolute;
  top: 75%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 50;
}

.title h1 {
  color: var(--stainless-steel);
  font-size: 10vmin;
  font-family: 'Squada One', cursive;
  text-shadow: 0 0 10px black;
}

.submarine-container {
  transform-origin: center;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 3vh;
  width: 3vh;
  opacity: 0;
}

.submarine-top {
  margin: 0 auto -50% auto;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  width: 30%;
  height: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(124,124,124,1) 50%, rgba(0,0,0,1) 100%);
  position: relative;
}

.crossbar {
  position: absolute;
  width: 180%;
  height: 5%;
  border-radius: 10px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(124,124,124,1) 50%, rgba(0,0,0,1) 100%);
}

.submarine {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgb(124,124,124);
  background: radial-gradient(circle, rgba(124,124,124,1) 0%, rgba(0,0,0,1) 50%);
  box-shadow: 0 1vmin 5vmin .5vmin rgba(124,124,124,1) inset;
  position: relative;
}

.body-crossbar {
  position: absolute;
  width: 120%;
  height: 5%;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(124,124,124,1) 50%, rgba(0,0,0,1) 100%);
}

.body-crossbar-2 {
  position: absolute;
  width: 120%;
  height: 5%;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  z-index: -1;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(124,124,124,1) 50%, rgba(0,0,0,1) 100%);
}

.fade-out {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  z-index: 10;
}

/* media queries */

@media (max-width: 600px) {
  .enemy {
    height: 100vmin;
    width: 100vmin;
  }

  .enemy .Square {
    height: 6.5vmin;
    width: 6.5vmin;
  }
}